<div class="card p-3 shadow">

    <h3>RxJS Observable Example</h3>
    <div class="card p-3 shadow">
        <h3>🔍 Advanced RxJS Live Search</h3>

        <input type="text" class="form-control mt-3" placeholder="Search users (min 3 chars)...Example: - michael"
            [formControl]="searchControl" />

        <div *ngIf="loading" class="text-primary mt-2">
            Loading...
        </div>

        <div *ngIf="errorMsg" class="alert alert-danger mt-2">
            {{ errorMsg }}
        </div>

        <div class="row mt-3">
            <div class="col-md-4" *ngFor="let user of users">
                <div class="card mb-3">
                    <img [src]="user.image" class="card-img-top" height="180">
                    <div class="card-body">
                        <h5>{{ user.firstName }} {{ user.lastName }}</h5>
                        <p>
                            📧 {{ user.email }} <br>
                            📞 {{ user.phone }} <br>
                            🎂 {{ user.age }} <br>
                            🏙️ {{ user.address.city }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary mt-3" (click)="loadMore()" *ngIf="users.length < total">
            Load More
        </button>
    </div>